.pensum{
    /* height: 650px; */
    min-height: 300px;
    width: 80%;
    background-color: rgb(255, 255, 255);
    display: flex;
    float: left;
    flex-grow: 1;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    float: center;
}
