.search{
    position: absolute;
    height: 100%;
    width: 200px;
    margin:0px 0px 5px 0px;
    background-color: rgb(150, 150, 150);
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    
}