.semester{
  margin: 5px;
  background-color: rgb(217, 221, 221);
  border-radius: 10px;
  width: 150px;
  min-height: 200px;
  align-content: center;
}

.semester-number{
  margin-bottom: 10px;
}

.credits-semester{
  display: flex;
  flex-grow: 1;
  margin: 22px;
  width: 100px;
  background-color: #F0CACA;
  align-items: center;
  justify-content: space-around;
  border: 2.5px solid black;
}

.credits-required{
  width: 50px;
  height: 21px;
  padding: 5px;
  border-width: 0 2.5px 0 0 ;
  border-style: solid;
  border-color:rgb(0, 0, 0);
  text-align: center;
  user-select: none;
}

.credits-free-choice{
  width: 50px;
  height: 21px;
  padding: 5px;
  text-align: center;
  user-select: none;
}

.credits-warning{
  height: 25px;
  width: 25px;
}
